@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Open+Sans:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", "Open Sans", sans-serif;
}
